.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.window {
  width: 50%;
  height: 400px;
  padding: 50px;
}

.planet {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana;
  margin-top: 20px;
  cursor: pointer;
}